.main{
    min-width:1002px;
    margin-bottom: 22px;
}

.header {
    margin-bottom: 30px;
    width: 100%;
    height: 80px;
}

.inside-header {
    background-color: #7DD9E8;
    padding: 30px;
    overflow: auto;
}

.inside-header2 {
    background-color: #DDDDDD;
    overflow:auto;
    width: 100%;
    height: 40px;
}

.inside-header1 {
    width: 940px;
    margin: 0 auto;
    overflow: auto;
}

.top1 {
    float: left;
    width: 800px;
    margin: 0 auto;
}

.logo {
    margin-right: 24px;
    float: left;
}

.button {
    margin: 10px 0 0 0;
}

.button {
    background-color: #274f56;
    margin: 10px 0 0 7px;
}

.profile {
    width: 163px;
    margin-top: -52px;
    float: right;    
}

.search-bar2 {
  color: #fff;
  padding: 5px 9px;
  margin: 5px 0;
  font-size: 12px;
  line-height: 20px;
}

.search-bar {
  border: none;
  outline: none;
  background-color: #caeff7;
  margin: 0 22px 0px 6px;
  width: 248px;
  height: 20px;
  color: #9ba8ae;
  font-size: 12px;
  line-height: 20px;
}

.search {
  float: left;
}

.button {
  float: left;
}

.profile1 {
  text-align: right;
  margin-bottom:10px ;
}

.user-name{
  width: 100%;
  height: 12px;
  background-color: #81daea;
  text-align: right;
  font-size: 12px;
  font-size: 18px;
  font-weight: bold;
}

.profile2 {
  width: 100%;
  height: 12px;
  background-color: #81daea;
  font-size: 8px;
  text-align: right;
  font-size: 12px;
}


.sidebar {
  width: 194px;
  height: 170px;
  background-color: 

  float: left;
}

.sidebar-upper{
    width: 100%;
    height: 42px;
    background-color: #81daea;
    color: white;
    font-size: 16px;
    align: center;
}

.recent-searches {
    width: 100%;
    color: white;
    font-size: 16px;
    background-color: #81daea;
}

.list {
    width: 100%;
    height: 42px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    color: #ffffff;
}

.title {
    width: 86%;
    height: 42px;
    background-color: #81daea;
}


#searchphoto {
  width: 9px;
  height: 20px;
  float: left;
}

#searchpic {
  width: 59px;
  height: 20px;
  float: right;
}

.search1 {
    width: 290px;

}

.search{   
    background-color: #ccf0f8;
    float: left;
    margin-top: 10.5px;
    margin-left: 24px;
   
}

.button {
    background-color: #274f56;
    width: 50px;
    height: 20px;
    margin-top: 11px;
    float: left;

}

.button1 {
  width: 122%;
  background-color: #264f55;
}




#image1 {
  width: 9px;
  height: 20px;
  float: left;
}

#image2 {
 width: 11px;
 height: 20px;
 float: right;
}

.buttontext {
    width: 53px;
    width: 21px;
    font-size: 9px;
    color: white;
    text-align: center;
    margin-left: 12px;
    margin-top: 6px;
}

input {
    width: 209px;
    background-color: #81daea00;
    outline-style: none;
    border: 0px;
    font-size: 11px;
    text-align: center;
}



.navbar {
  float: left;
}

.navbar ul li, .notification ul li {
  font-size: 14px;
  float: left;
  line-height: 40px;
}

.navbar ul li a {
  color: #000;
  font-weight: bold;
  display: block;
  padding: 0 15px;
}

.navbar ul li a:hover {
  background-color: #7dd9e8;
  color: #fff;
}

.navbar ul li:first-child a {
  padding: 0 4px;
}

.profile2 ul li:first-child LI  {
  padding-right: 0;
}

.notification {
  float: right;
}

.notification ul li {
  margin: 0 10px;
  font-size: 15px;
}



.notification ul li a {
  color: #adadad;
  display: block;
  padding-left: 22px;
  font-size: 14px;
}

.notification ul li.active a {
  margin-left: -8px;
  font-weight: bold;
  color: #000;
}

.content {
    clear: both;
  display: table;
}




.header {
  margin-bottom: 30px;
}
.top-header {
  background-color: #7dd8e8;
  padding: 30px;
}
.bottom-header {
  background-color: #f5f5f5;
}
.content {
  width: 940px;
  margin: 0 auto;
}
.top-header .content{
  position:relative
}
.top-header .content .nav-menu{
  position: absolute;
  right: 0;
  top: 0;

}
.nav-menu img{
  height: 50px;
  width: 50px;
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.logo-wrapper {
  margin-right: 24px;
}

.search-bar-wrapper {
  margin: 10px 0 0 0;
}
.search-button-wrapper {
  background-color: #274f56;
  margin: 10px 0 0 7px;
}
.search-button-link {
  color: #fff;
  padding: 5px 9px;
  margin: 5px 0;
  font-size: 12px;
  line-height: 20px;

}


/*body*/
.main-container .content {
  background: url('../images/background.png');
}

.main-container .content {
  background: url('../images/background.png');
}

.inside-left1 {
    clear: both;
  display: table;
}

.bar {
  float: left;
}

.main-container .content .inside-left1  .bar{
  width: 195px;
}

.middle-part {
  width: 518px;
  padding: 0 26px;
  float: right;
}

.right-side {
  float: right;
}

.main-container .content  .right-side {
width: 175px;
}

.left-part {
  float: left;
}

.main-container .content .left-part {
width: 765px;
}

.title {
  font-weight: bold;
  background: #72bfd7;
  color: #fff;
  line-height: 42px;
  padding: 0 13px;
  font-size: 18px;
}

.all-info ul li {
  position: relative;
}

.all-info ul li a:first-child {
padding: 15px 0 15px 13px;
width: 130px;
display: block;
font-size: 10px;
color: #000;
font-weight: bold;
}

.all-info ul li:hover {
background: #fff;
}

.all-info ul li span {
padding: 0 5px;
right: 0;
position: absolute;
top: 13px;
right: 13px;
}

.middle-upper {
background: url('../images/white.png') no-repeat;
background-size: 100% 100%;
border-bottom: 3px solid #72bfd7;
  clear: both;
  display: table;
}

.entry1 {
font-weight: bold;
font-size: 24px;
padding: 0;
margin-bottom: 8px;
  content: "";
  clear: both;
  display: table;
}


.first-line {
font-weight: bold;
padding: 8px 0 6px 0;
text-align: center;
font-size: 14px;
}

.entry-list {
width: 100%;
}

.entry-list ul li {
float:left;
background:url(../images/entries.png) no-repeat;
padding: 0px 5px;
width: 110px;
font-size: 12px;
font-weight: bold;
margin-bottom: -4px;
}


.middle-header.left{
  padding-left:16px;
}

.middle-header.right{
  padding-right:6px;
}


.entry-list ul li:hover {
background: url(../images/middle.png) no-repeat;
color: #fff;

}
.entry-list ul li.tab-active {
background: url(../images/middle.png) no-repeat;
}

.entry-list ul li a {
text-decoration: none;
color: #000;
line-height: 28px;
display: block;
text-align: center;
padding: 2px 0;
}
.entry-list ul li.tab-active a, .entry-list ul li:hover a {
color: #fff;
}

.all-details {
  width: 72px;
  float: left;
}

.user-photo img {
width: 100%;
}
.all-details .frame {
position: absolute;
}
.user-details {
width: 428px;
padding-left: 10px;
font-weight: bold;
font-size: 12px;
float: right;
}
.user-details .entry-status {

color: #72bfd7;

}

.entry-status.red{
  color: #e06c53;
}

.user-details .detail {
font-size: 14px;
margin-bottom:2px;

}
.detail a{
  color: #000;
}


.novel ul li {
background: url('../images/horizontal-line.png') no-repeat bottom;
padding: 15px 0;
  content: "";
  clear: both;
  display: table;
}


.user-details span,.user-details p {
color: #616161;
line-height: 18px;
}

.username, .date, .topicbox{
  color:#888888;
  }
.username a,.favourites a {
color: #73c0d7;
font-weight: bold;
}
.line{
  margin: 0 5px;
  border-right: 2px solid #888888;
}

.entry-subscribe a {
color: #7c9531;

}


/*Footer*/

.footer {
  margin-top: 30px;
  background: #717171;
  font-size: 12px;
}

.inside-footer {

  clear: both;
  display: table;
}

.last-footer {
  color: #fff;
  padding: 19px 2px;
  float:left;
  
}
.last-footer ul {
  list-style: none;
}
.last-footer ul li {
  background: url("../images/middle.jpg") no-repeat;
  background-position: 0;
  width: auto;
  font-weight: bold;
  float: left;
  
  padding: 0px 7px 0px 10px;
}
.last-footer ul li:first-child {
  background: none;
}
.last-footer ul li a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #fff;
  padding: 19px 200px;
  float: right;
  
}




